@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

/* *********** Resetting Browser Defaults and applying Font *********** */
html, *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
}

/* *********** Get rid of list bullet points *********** */
ul{
    list-style: none;
}

/* *********** Get rid of link underline *********** */
a{
    text-decoration: none;
}

/* *********** Navigation Bar *********** */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(43, 44, 44);
}

.logo{
    margin: 0;
    font-size: 24px;
    letter-spacing: 4px;
    padding-left: 20px;
}

.nav-links{
    display: flex;
    flex-direction: row;
}

.logo, .nav-links {
    list-style: none;
    text-transform: uppercase;
    color: rgb(116, 5, 14);
}

.logo a, .nav-links a {
    text-decoration: none;
    letter-spacing: 8px;
}
  
.nav-links a {
    display: block;
    padding: 20px;
    color: white;
  }

  /* *********** navigation media queries *********** */
@media all and (max-width: 990px) {
    .nav {
        flex-direction: column;
    }
  }
/* *********** Hero Section *********** */

.hero-container{
    background-image: url(backgroundimg.jfif);
    height: 165px;
}

.hero h3{
    text-align: end;
    padding-top: 120px;
    color: rgb(116, 5, 14);
    font-size: 30px;
    letter-spacing: 4px;
    padding-right: 20px;
}

/* Flexbox Body */

/* *********** Styling whole Flexbox Body *********** */
.content-wrapper{
    background-color: #2b2c2c;
    color: white;
}

.content-wrapper p{
    width: 80%;
}

.content-wrapper img{
    width: 80%;
}

.content-wrapper a{
    width: 80%;
}

h2{
    font-size: 38px;
    padding-left: 40px;
}

/* *********** Flexing the About section and styling *********** */

.about-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  padding-top: 100px;
  flex-wrap: wrap;
  word-wrap: break-word;
  margin: 10px;
}

.about-wrapper p{
    max-width: 50%;
}

/* *********** Flexing the Portfolio section and styling within *********** */
.portfolio-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

.portfolio-pic img{
  float: right;
  padding: 4px;
  width: 38%;
  padding-right: 20px;

}

.portfolio-pic h3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
}

/* *********** Flexing the Contact section and styling *********** */
.contact-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  word-wrap: break-word;
  margin: 10px;
  word-spacing: 40px;
  padding-top: 60px;
}

/* *********** Setting button colors and look *********** */
.contact-wrapper button{
    background-color: rgb(116, 5, 14);
    color: white;
    width: 100px;
    height: 25px;
    margin-right: 20px;
}

.contact-wrapper h2{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Footer */

 footer{
     background-color: rgb(43, 44, 44);
     display: flex;
     justify-content: center;
     color: white;
     text-transform: uppercase;
 }

 #contact{
     color: white;
     padding-left: 20px;
 }

 #headshot{
     width: 300px;
 }